/**
 * objects/_dimension.scss
 */

.w {

  &-full {
    width: 100%;
  }

  &-25 {
    width: 25px;
    max-width: 100%;
  }

  &-60 {
    width: 60px;
    max-width: 100%;
  }

  &-100 {
    width: 100px;
    max-width: 100%;
  }

  &-150 {
    width: 150px;
    max-width: 100%;
  }

  &-200 {
    width: 200px;
    max-width: 100%;
  }

  &-210 {
    width: 210px;
    max-width: 100%;
  }

  &-418 {
    width: 418px;
    max-width: 100%;
  }
}

.h {

  &-full  {
    height: 100%;
  }

  &-25 {
    height: 25px;
  }

  &-60 {
    height: 60px;
  }

  &-100 {
    height: 100px;
  }

  &-150 {
    height: 150px;
  }

  &-200 {
    height: 200px;
  }

  &-210 {
    height: 210px;
  }

  &-418 {
    height: 210px;
  }
}