/**
 * components/_typography.scss
 */

 :root {
  font-size: 16px;

  @media (max-width: 339px) and (orientation: portrait) {
    font-size: 14px;
  }

  @media (max-height: 666px), (max-width: 340px) {
    font-size: 15px;
  }

  @media (min-width: 992px) {
    font-size: 24px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.title, .text {
  letter-spacing: normal;
  font-style: normal;
  word-break: normal;
  font-stretch: normal;

  &.-semi {
    font-weight: 600;
  }

  &.-strong {
    font-weight: bold;
  }

  &.-heavy {
    font-weight: 800;
  }

  &.-dash {

    &:before {
      width: 28px;
      height: 4px;
      display: block;
      margin: 0;
      background: var(--colorPrimary);
      content: "";
    }
  }

  &.-high {

    span {
      display: inline-block;
      position: relative;
      z-index: 1;

      span {
        position: relative;
        z-index: 3;

        &:before {
          display: none;
        }
      }

      &:before {
        position: absolute;
        z-index: 1;
        bottom: 13%;
        left: 0;
        right: 0;
        height: 6px;
        background: var(--colorPrimary);
        opacity: .35;
        content: "";
      }
    }
  }
}

.title {
  font-weight: bold;

  &.-wide {
    font-size: 2.33rem;
    line-height: 3.2rem;
  }

  &.-larger {
    font-size: 1.5rem;
    line-height: 1.666rem;
  }

  &.-median {
    font-size: 1rem;
    line-height: 1.166rem;
  }

  &.-smaller {
    font-size: .833rem;
    line-height: 1rem;
  }

  &.-condensed {
    line-height: 1.666rem;
  }
}

.text {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375rem;

  @media (min-width: 992px) {
    font-size: .833rem;
    line-height: 1rem;
  }

  &.-smaller {
    font-size: 1rem;
    line-height: 1.25rem;

    @media (min-width: 992px) {
      font-size: .666rem;
      line-height: .833rem;
    }
  }

  &.-tiny {
    font-size: .875em;
    line-height: 1.125rem;

    @media (min-width: 992px) {
      font-size: .583rem;
      line-height: .75rem;
    }
  }
}