/**
 * components/_typography.scss
 */

 :root {
  font-size: 16px;

  @media (max-width: 339px) and (orientation: portrait) {
    font-size: 14px;
  }

  @media (max-height: 666px), (max-width: 340px) {
    font-size: 15px;
  }

  @media (min-width: 992px) {
    font-size: 24px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.title, .text {
  letter-spacing: normal;
  font-style: normal;
  word-break: normal;
  font-stretch: normal;
}

.title {
  font-weight: bold;

  &.-large {
    font-size: 1.5rem;
    line-height: 1.655;
    font-weight: 800;
  }

  &.-median {
    font-size: 1rem;
    line-height: 1.655;
  }
}

.text {
  font-weight: normal;
}